/* 
font-family: 'Crimson Pro', serif;
font-family: 'Crimson Text', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Spline Sans', sans-serif;
font-family: 'Spline Sans Mono', monospace;
font-family: 'Fira Code', monospace;
*/
:root {
  --hero-bg: #eecc98;
  /* --text: #3a5d42; */
  --text: #002a38;

  --working-gradient: linear-gradient(to bottom left,
      #eee8cc,
      #fbb06a7c,
      #bf4c866f,
      #563d7c7d,
      #615196aa);

  /* --primary-bg: #eaeae5; */
  --primary-bg: #E3E3E3;

  --green-code: #6D906A;
  --yellow-code: #EFCF5E;
  --orange-code: #F6B482;
  --purple-code: #BB9FDC;
  --blue-code: #6FA2D4;

}

body {
  width: 100%;
  min-height: 100vh;
  /* font-family: 'Crimson Text', serif; */
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

::selection {
  background: var(--text);
  color: white;
}

h1 {
  font-size: 4rem;
  font-family: "Crimson Pro", serif;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  font-family: "Crimson Pro", serif;
}

/* works サイトを見る */
h3 {
  font-size: 2rem;
}

.section {
  box-sizing: border-box;
  padding: 6rem 0;
  margin: 0 auto;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #096f52;
}

p {
  margin-bottom: 0;
}

.heading {
  background-color: var(--text);
  background-color: #3a5d429e;
  border-radius: 10px;
  color: white;
  width: fit-content;
  padding: 0.5rem 1rem;
  position: relative;
}

.heading.jp {
  /* font-size: .5rem; */
}

/* GLOBAL */
#cursor {
  position: fixed;
  background: #ea7e43;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}

#stalker {
  position: fixed;
  background: #e0e2c5;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin: -5px 0 0 -5px;
  z-index: 9998;
  pointer-events: none;
  opacity: 0.5;
}

@media all and (min-width: 768px) {
  .left-align {
    text-align: left;
  }
}



/* 日英翻訳toggle */
.dn-in-pc {
  display: none;
  width: 10%;
}

.dn-in-sp {
  display: block;
}

.hidden {
  display: none;
}

@media all and (max-width: 768px) {
  .dn-in-pc {
    display: block;
    width: 10%;
  }

  .dn-in-sp {
    display: none;
  }

}


/* TRANSLATE */
#translate {
  z-index: 9999;
  position: fixed;
  border: none;
  background-color: transparent;
  top: 1rem;
  right: 4rem;
  padding: 0rem 1rem;
  font-size: 1.5rem;
  font-family: "Crimson Pro", serif;
  color: var(--text);
  border-radius: 50px;
  background-color: #ffffff7d;
  box-sizing: border-box;
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
}


.global__img-profile {
  position: absolute;
  top: 108vh;
  left: 40%;
  width: 20vw;
  height: auto;
}


/* HEADER */
.header__icon-img {
  width: 2.5rem;
  height: 2.5rem;
}

.header {
  display: flex;
  transition: all 0.5s ease;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  backdrop-filter: blur(35px);
  background-blend-mode: overlay;
}

.header__social-container {
  width: 80%;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


/* HERO */
.hero {
  display: flex;
  height: 110vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  overflow-x: hidden;
  margin: 0% auto;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(-10vh);
  /* padding-top: 10vh; */

}

/* STAR BG */
.star-background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* .hero__bg-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translate(-5vw, -10vh);
  gap: 10vw;
}

.upper-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  height: 100%;
  padding: 1rem 0 0;
}

.lower-row {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  align-items: center;
}

.img-bali,
.img-ig,
.img-gc-gate,
.img-hill,
.img-waterfall,
.img-class-photo,
.img-hat-toss,
.img-profile {
  border-radius: 20px;

  top: 0%;
  left: 0%;
  object-fit: contain;
}

📘👩‍🎓 = header-img
.img-class-photo {
  width: 32vw;
  height: fit-content;
  transform: translateY(-16vh);
}

.img-waterfall {
  width: 23vw;
  height: fit-content;
  transform: translate(0vw, 0vh);
}


.img-gc-gate {
  width: 35vw;
  height: fit-content;
  transform: translate(0vw, -10vh);
}


.img-bali {
  width: 32vw;
  height: fit-content;
  transform: translate(-15vw, 35vh);
}

.img-hat-toss {
  width: 25vw;
  height: fit-content;
  transform: translate(-30vw, -10vh);
}


.img-ig {
  width: 23vw;
  height: fit-content;
  transform: translate(-27vw, 3vh);
}


.img-class-photo.adjust {
  width: 32vw;
  height: auto;
  transform: translate(-23vw, -16vh);
}

.img-waterfall.adjust {
  width: 23vw;
  height: fit-content;
  transform: translate(-20vw, 0vh);
}

.img-gc-gate.adjust {
  width: 35vw;
  height: fit-content;
  transform: translate(-17vw, -10vh);
}

.img-bali.adjust {
  width: 32vw;
  height: fit-content;
  transform: ttranslate(-34vw, 35vh);


} */





.hero__text-container {
  position: relative;
  width: 80%;
  display: inline-flex;
  /* padding: 0 5% 5%; */
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  margin: 15vh auto 0;
  height: fit-content;
  border-radius: 3.75rem;
  z-index: 10;
}

.hero__name {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto 0 0;
  /* backdrop-filter: blur(35px);
  background-blend-mode: overlay; */
  border-radius: 20px;
  width: 100%;
}

.hero__message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0rem;
}

.hero__message {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.hero__title {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  /* backdrop-filter: blur(35px);
  background-blend-mode: overlay;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  width: fit-content; */
}

.hero__title .hero__message {
  width: fit-content;

  backdrop-filter: blur(0);
  background-blend-mode: overlay;
  padding: 0;
  border-radius: 0pxnpm run dev;
  width: fit-content;
}

.hero__uiux,
.hero__frontend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  /* backdrop-filter: blur(35px);
  background-blend-mode: overlay;
  border-radius: 20px;
  width: fit-content; */
}

.hero__uiux-text,
.hero__frontend-text {
  font-size: 4rem;


}

.hero__uiux-icon {}

.hero__uiux-emoji {
  font-size: 3rem;
}

.hero__uiux-text {
  background-image: url("/hero__images/uiux-bg.png");
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;

}

.hero__frontend-icon {}

.hero__frontend-emoji {
  font-size: 3rem;
}

.hero__frontend-text {
  /* font-family: 'Fira Code', monospace;
  font-weight: 500; */
  color: #557152;
}



/* HERO LEFT */
.hero__left-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(0deg, rgb(228, 228, 228) 0%, rgb(252, 241, 231) 100%);
  background-color: rgba(255, 255, 255, 1);
  border-color: transparent;
}

.left-container-pr {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.frontend-codes-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.frontend-codes {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

/* WIDTH */
.w-sm {
  width: 8vw;
}

.w-md {
  width: 10vw;
}

.w-lg {
  width: 15vw;
}

/* COLOR */
.green {
  background-color: var(--green-code);
}

.yellow {
  background-color: var(--yellow-code);
}

.orange {
  background-color: var(--orange-code);
}

.purple {
  background-color: var(--purple-code);
}

.blue {
  background-color: var(--blue-code);
}

/* CODE */
.code {
  height: 2rem;
  border-radius: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

}


/* ROW1 */
.row1 {
  padding-right: 2vw;
}

.green-code1 {}

.yellow-code1 {}

/* ROW2 */
.row2 {
  transform: translateX(5vw);
}

.orange-code1 {}

.purple-code1 {}

.blue-code1 {}

/* ROW3 */
.row3 {
  padding-right: 5vw;
}

.yellow-code2 {}

.green-code2 {}

/* ROW4 */
.row4 {
  transform: translateX(7vw);
}

.green-code3 {
  width: 5vw;
}

.orange-code2 {}

.yellow-code3 {}


/* ROW5 */
/* .row5 {
  padding-right: 2vw;

} */

.blue-code2 {}

.purple-code2 {}


/* ROW5 */
.row5 {
  transform: translateX(8vw);
}

.green-code4 {}

.purple-code3 {}





/* HERO RIGHT */
.hero__right-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(0deg, rgb(227.49, 226.51, 226.51) 0%, rgb(229, 229, 228) 100%);
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}


/* RIGHT BG */
.right-bg-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.mask1 {
  width: 100%;
  position: absolute;
  top: 2vh;
  right: -3vw;
  height: 100%;
}

.mask2 {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.mask3 {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.mask4 {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/* RIGHT CODES */
.uiux-codes-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.uiux-codes {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.uiux-codes-container .row {
  justify-content: flex-start;
  align-items: flex-start;
  height: 2rem;
}

.uiux-codes-container img {
  width: 11vw;
  /* height: auto; */
}

/* ROW1 */
.uiux-codes-container .row1 {}

.long-arrow {
  width: 10vw;
  height: auto;
  object-fit: contain;
}

.uiux-codes-container .double-circle {
  width: 8vw;
  height: auto;
  transform: translateY(-1vh);
}

/* ROW2 */
.uiux-codes-container .row2 {
  transform: translateX(-4vw);
}

.uiux-codes-container .marble-code1 {
  width: 16vw;
  height: 2rem;
}

.uiux-codes-container .blue-polygon {
  width: 7vw;
  transform: translateY(-2vh);
}


/* ROW3 */
.uiux-codes-container .row1 {}

.toggle {}

/* ROW4 */
.uiux-codes-container .row4 {
  transform: translateX(-6vw);
}

.uiux-codes-container .marble-code2 {
  width: 20vw;
  height: 2rem;
}

.uiux-codes-container .orange-polygon {
  width: 11vw;
  transform: translateY(-5vh);
}

/* ROW5 */
/* .uiux-codes-container .row5 {
  transform: translateX(2vw);
}

.uiux-codes-container .arrow-button {
  width: 6vw;
  transform: translateY(-2vh);
} */

/* ROW5 */
.uiux-codes-container .row5 {
  transform: translateX(-3vw);
}

.uiux-codes-container .code {
  border: solid 4px var(--green-code);
  width: 10vw;
}

.uiux-codes-container .pink-polygon {
  width: 7vw;
  transform: translateY(-3vh);
}




/* BIO */
.bio {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  /* padding: 6rem 0; */
  gap: 2rem;
  position: relative;
  margin: 10rem auto;
}



.bio__img-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bio__img {
  margin: 0 auto;
  border-radius: 100%;
  width: 25vw;
  height: auto;
  object-fit: cover;
}

.bio__text-container {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.bio__name {
  margin: 0 auto;
}

.bio__text {
  margin: 2rem auto;
}

.bio_snt.show {
  transform: translateX(0);
  opacity: 1;
}

/* CreativeExploration */
.creative-exploration {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  /* padding: 6rem 0; */
  gap: 2rem;
  position: relative;
  margin: 10rem auto;
  text-align: center;

}

.spline {
  width: 70%;
  margin: 0 auto;
}

.spline canvas {
  border-radius: 24px;
}

.ce_text-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: .5rem;
}

.creative-exploration h3 {
  font-family: "Crimson Pro", serif;
  font-size: 3rem;
  margin: 0;
}


.ce_work-time {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.ce_work-date {
  border-radius: 40px;
  border: 2px solid var(--text);
  padding: 0.625rem 1.25rem;
}

.ce_work-tool-logo1 {
  width: 3.5%;
}

.ce_work-tool-logo2 {
  width: 5%;
}

.ce_work-period {
  display: flex;
}



.arrow-text-container {
  margin: 0;
}


/* note */
.note {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: nowrap;
  background-color: #238f76;
  background-color: rgb(244, 243, 239);
  background: linear-gradient(180deg, #f4f3ef 0%, rgba(239, 249, 247, 0) 100%);
}

.note h2 {
  font-size: 4rem;
}

.note__container {
  width: 80%;
  margin: 0 auto;
}

.note-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.note-heading img {
  width: 30%;
  height: 20vh;
  object-fit: cover;
}

.note__articles-container {
  width: 100%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  /* gap: 5rem 1rem; */
}

.article {
  width: 40%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;

}

.article:hover {
  cursor: pointer;
}

.article img {
  max-width: 100%;
  transform: translateY(2rem);
  border-radius: 24px 24px 0 0;
}

.article-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.99);
  border-radius: 0 0 24px 24px;
}

.article-date {
  width: fit-content;
  border-radius: 40px;
  border: 2px solid var(--text);
  padding: 0.25rem 1rem;
}

/* h3 */
.article-title {
  font-weight: 600;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: left;
  border-radius: 50px;
}

/* div */
.article-desc {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.article p {}

.article a {
  display: none;
}

.note__button-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  border: 0;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  color: var(--text);
  padding-right: 4rem;
  gap: 1rem;
  position: relative;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}



.note__profile-container {
  display: flex;
  width: 60%;
  align-items: center;
  gap: 1rem;
}

.note__profile-img {
  border-radius: 100%;
  width: 5vw;
  height: 5vw;
}

.note__profile-p {
  width: 100%;
  text-align: left;
  font-size: 1rem;
}


.view-more-container {
  display: flex;
  border-radius: 60px;
  border: 2px solid var(--text);
  padding: 0.5rem 2rem;
  align-items: center;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  gap: .5rem;
}

.view-more-container:hover {
  cursor: pointer;
  background-color: #096f52;
  border: #096f52 2px solid;
}


.view-more-container-p {
  color: var(--text);
  white-space: nowrap;
  transition: all 0.3s ease;
}

.note-button-container.toggleBox-en .view-more-container-p {
  white-space: nowrap;
  transition: all 0.3s ease;
}




.view-more-container .arrow-container {
  width: 100%;
  margin-left: 0;
  position: relative;
  transition: all 0.3s ease;

}

.view-more-container .arrow-container:hover {
  background-color: #096f52;
  opacity: 1;
  border-radius: 100%;
  /* color: #fff; */
}


.view-more-container .arrow-rect {
  fill: transparent;
}

.view-more-container .arrow-container:hover .arrow-rect {
  fill: #096f52;
}

.view-more-container .arrow-path {}


.view-more-container:hover .arrow-path,
.view-more-container:hover .view-more-container-p,
.view-more-container:hover .note-button-container.toggleBox-en>.view-more-container-p {
  fill: #fff;
  color: #fff;
}


/* FOOTER */
.footer {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}



.footer_name {
  font-size: 1.3rem;
  margin: 0 auto;
  text-align: center;
  font-family: "Crimson Pro", serif;
}


/* MEDIUM */
.medium {
  width: 100%;
  height: 100%;
  gap: 2rem;
  position: relative;
  margin: 0 auto;
}

.medium__I-post {
  width: fit-content;
  height: 100%;
  margin: 1rem auto;
  color: #727272;

}

.medium__container {
  width: 80%;
  margin: 0 auto;
}

/* Section Title */
.medium h2 {}

.medium__stories-container {
  width: 100%;
  height: 100%;
}



.medium__story {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  position: relative;
  margin: 6rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 24px;
}

.medium__story:hover {
  cursor: pointer;
  color: #000;
}

.story-image {
  width: 35%;
  margin: 0 auto;
  /* border-radius: 20px; */
  aspect-ratio: 3/2;
  object-fit: cover;

}


.story-text-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.story-date {
  border: 2px solid var(--text);
  border-radius: 40px;
  width: fit-content;
  padding: 0.25rem 1rem;
}

/* Story Title */
.medium h3 {
  font-family: "Crimson Pro", serif;
  text-align: left;
  width: fit-content;
  margin: 0;
}

.story-excerpt {}


.story-tags-container {
  width: 100%;
  min-height: 10vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;

}

.medium__button-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  border: 0;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  color: var(--text);
  padding-right: 4rem;
  gap: 1rem;
  position: relative;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.medium__profile-container {
  display: flex;
  width: 45%;
  align-items: center;
  gap: 1rem;
}

.medium__profile-img {
  border-radius: 100%;
  width: 5vw;
  height: 5vw;
}

.medium__profile-p {
  width: 100%;
  text-align: left;
  font-size: 1rem;
}




@media all and (max-width: 768px) {
  body {
    font-size: 1rem;
  }


  h3 {
    text-align: center;
  }

  #translate {
    top: 5rem;
    right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  /* HERO */
  .hero {
    padding: 0;
    min-height: 90vh;
    align-items: flex-start;
  }


  .hero__text-container {
    width: 80%;
    justify-content: flex-start;
    padding: 1rem 0;
    gap: 2rem;
    z-index: 99;
    margin: 5rem auto;
  }

  .hero__title {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transform: translate(0);
    gap: 0rem;
    align-items: center;
  }

  .hero__name {
    font-size: 2.5rem;
    margin: 0;
  }

  .hero__message-container {
    padding-left: 0;
  }

  .hero__message {
    font-size: 2rem;
    text-align: center;
  }

  .hero h2 {
    font-size: 3rem;
    backdrop-filter: blur(5px);
    background-blend-mode: overlay;
    padding: .25rem .5rem;
    border-radius: 100px;
  }

  .hero__title .hero__message {
    padding-left: 0rem;
  }

  .hero__frontend-emoji,
  .hero__uiux-emoji {
    font-size: 2rem;
  }

  .hero__uiux,
  .hero__frontend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

  .hero__frontend-text {
    color: #273426;
  }


  .w-sm {
    width: 16vw;
  }

  .w-md {
    width: 20vw;
  }

  .w-lg {
    width: 30vw;
  }

  .row {
    gap: 2rem;
  }

  /* LEFT */
  .hero__left-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgb(228, 228, 228) 0%, rgb(252, 241, 231) 100%);
    background-color: rgba(255, 255, 255, 1);
    border-color: transparent;
    opacity: .6;
  }

  .frontend-codes-container {
    height: 80%;
    transform: rotate(90deg);
    justify-content: center;
    overflow: visible;
  }

  .frontend-codes {
    overflow: visible;
  }

  .green-code3 {
    width: 9vw;
  }

  /* RIGHT */
  .hero__right-container {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgb(227.49, 226.51, 226.51) 0%, rgb(229, 229, 228) 100%);
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    opacity: .6;
  }

  .mask1 {
    top: 0;
  }

  .uiux-codes-container {
    height: 80%;
    transform: rotate(90deg);
    top: 0;
    justify-content: center;
  }

  .uiux-codes-container img {
    width: 32vw;
  }

  .uiux-codes-container .row {
    gap: 0rem;
  }

  /* ROW1 */
  .uiux-codes-container .row1 {}

  .uiux-codes-container .double-circle {
    width: 22vw;
    height: auto;
    transform: translateY(0vh);
  }

  /* ROW2 */
  .uiux-codes-container .marble-code1 {
    width: 45vw;
  }

  .uiux-codes-container .blue-polygon {
    width: 16vw;
    transform: translateY(0vh);
  }

  /* ROW4 */
  .uiux-codes-container .row4 {
    transform: translateX(-30vw);
  }

  .uiux-codes-container .marble-code2 {
    width: 70vw;
  }

  .uiux-codes-container .orange-polygon {
    width: 22vw;
    /* transform: translate(76vw, -13vh); */
  }

  /* ROW5 */
  .uiux-codes-container .row5 {
    transform: translateX(5vw);
    gap: 3vw;
  }

  .uiux-codes-container .code {
    border: solid 4px var(--green-code);
    width: 18vw;
  }

  .uiux-codes-container .pink-polygon {
    width: 15vw;
    transform: translateY(0vh);
  }


  /* BIO */
  .bio {
    margin: 0rem auto 15rem;
  }

  .bio__text-container {
    width: 80%;
  }


  .bio__img {
    width: 40vw;
    height: auto;
  }

  .bio__name {}

  .header__icon-img {
    width: 2rem;
    height: 2rem;
  }

  /* CreativeExploration */


  .creative-exploration h3 {
    font-family: "Crimson Pro", serif;
    font-size: 2.5rem;
    margin: 0;
    align-items: flex-start;
    text-align: left;
  }

  canvas {
    min-height: 70vh;
  }

  .ce_text-container {
    width: 90%;
    gap: 1rem;
  }

  .ce_work-time {
    gap: 1rem;
  }

  .ce_text-container p {
    width: 96%;
    margin: 0 auto;
  }

  .ce_work-tool-logo1 {
    width: 8%;
  }

  .ce_work-tool-logo2 {
    width: 13%;
  }

  .ce_work-period {
    flex-direction: column;
    gap: 0rem;
  }

  .ce_work-period p {
    white-space: nowrap;
  }

  .arrow-text-container {
    margin: 0 auto;
  }
  



  

  /* NOTE */
  .note {}

  .note.section {
    padding: 6rem 0 3rem;
  }

  .note__container {
    width: 90%;
  }

  .note-heading {}

  .note-heading h2 {
    font-size: 1.5em;
  }

  .note-heading img {
    width: 60%;
    height: 20vh;
  }

  .note__articles-container {
    margin: 2rem auto;
    gap: 0rem 1rem;
  }

  .article {
    width: 100%;
    margin: 2rem auto;
  }

  .note__profile-container {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .note__button-container {
    font-size: 1rem;
    min-width: 60%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-right: 0;
    gap: 2rem;

  }


  .note__profile-img {
    width: 15vw;
    height: 15vw;
  }

  .note__profile-p {
    text-align: center;
  }

  .view-more-container {
    padding: 0.5rem 1rem;
    align-items: center;
    font-size: 1.2rem;
    gap: 0rem;
    justify-content: center;
  }

  .view-more-container .arrow-container {
    width: 50px;
    height: 50px;
  }

  .view-more-container .arrow-rect {
    width: 100%;
    height: 100%;
  }

  /* MEDIUM */
  .medium__container {
    width: 90%;
  }

  .medium__story {
    flex-direction: column;
    gap: 2rem;
  }

  .story-image {
    width: 100%;
  }

  .story-text-container {
    width: 100%;
  }

  .medium h3 {
    text-align: left;
    font-size: 1.5rem;
  }

  .medium__profile-container {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .medium__button-container {
    font-size: 1rem;
    min-width: 60%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-right: 0;
    gap: 2rem;
  }



  .medium__profile-img {
    width: 15vw;
    height: 15vw;
  }

  .medium__profile-p {
    text-align: center;
  }




  /* FOOTER */
  .footer {
    align-items: center;
    padding-top: 0rem;
    height: 20vh;
  }

  .footer::before {
    position: absolute;
    content: " ";
    bottom: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 20% 75%;
    background-repeat: no-repeat;
    transform: scale(-1);
    padding: 0;
    background-size: contain;
  }
}


